
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    background: rgb(22, 23, 28);
    font-family: 'IBM Plex Sans', sans-serif;
}

.flex {
    display: flex;
}

.title {
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: white;
    align-items: center;
    font-size: 5em;
    justify-content: center;
}
